.form {
  margin-left: 10%;
  margin-right: 10%;
}

.add_book {
  margin-left: 0;
  font-weight: 700;
}

.book__title {
  margin-right: 40px;
  height: 30px;
  width: 30%;
}

.book__author {
  margin-right: 40px;
  width: 30%;
  height: 30px;
}

.add__btn {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background: rgb(54, 54, 226);
}

.add__btn:hover {
  background: rgb(200, 42, 95);
}
