.book__list {
  margin-top: 12px;
  margin-bottom: 12px;
}

.books {
  list-style: none;
  background: #fff;
  border: 2px solid gainsboro;
  margin-bottom: 25px;
}

.book__list h2 {
  color: #121212;
  font-family: RobotoSlab, sans-serif;
  margin-left: 20px;
}

.book__author {
  color: #4386bf;
  text-transform: capitalize;
  margin-right: 20px;
  font-family: RobotoSlab, sans-serif;
  margin-left: 24px;
}

.book__categories {
  color: #121212;
  text-transform: capitalize;
  margin-right: 20px;
  margin-left: 24px;
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
}

.comment__btns,
.remove__btns {
  color: #4386bf;
  background: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 12px;
  font-family: RobotoSlab, sans-serif;
  border-right: 1px solid gray;
}

.edit__btns {
  color: #4386bf;
  background: #fff;
  border: none;
  font-family: RobotoSlab, sans-serif;
  cursor: pointer;
  margin-bottom: 12px;
}
